@keyframes fade-out {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}

.question-container {
    max-width: 500px;
}

.fade-out {
    animation: fade-out 1s;
}

.fade-in {
    animation: fade-in 1s;
}

.question-title {
    font-size: 1.75rem;
    margin-bottom: 1.5rem;
}