{% extends 'base.html' %}
{% load static %}
{% load my_polls_filters %}

{% block title %} My polls {% endblock %}

{% block style %} <link rel="stylesheet" href="{% static 'my_polls/index.css' %}"> {% endblock %}
{% block script %} <script src="{% static 'my_polls/index.js' %}"></script> {% endblock %}

{% block content %}
<h1 class="text-center">Polls you have created</h1>
<a href="{% url 'create_poll' %}" class="btn btn-success mt-2">Create a new poll</a>

<div class="d-flex flex-wrap justify-content-center">
    {% for poll in polls %}
    <div class="poll-card card mx-3 mt-4">
        <div class="card-body">
            <h4 class="card-title mb-0">{{poll.title}}</h4>

            <button class="share-button my-0 text-primary" data-poll-id="{{poll.id}}">
                Share me! <span><img src="{% static 'my_polls/share.svg' %}" alt="Share" style="width: 1rem;"></span>
            </button>
            <p class="text-success mt-1 mb-0 d-none success-message">URL copied successfully!</p>

            <p class="card-text mt-2 mb-0">Questions: {{poll.questions.all|length}}</p>
            {% with people=answered_by|get_by_index:forloop.counter0 %}
            <p class="card-text mt-0">Answered by {{people}} {% if people == 1 %} person {% else %} people {% endif %}</p>
            {% endwith %}

            <div class="text-center">
                <a href="{% url 'delete_poll' id=poll.id %}" class="btn btn-danger mx-2">Delete</a>
                <a href="{% url 'poll_statics' id=poll.id %}" class="btn btn-primary mx-2">Statics</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}