{% load static %}
<style>
  #tooltip {
    background-color: white;
    border-radius: 50%;
    border: none;
    margin-left: 0.5rem;
    font-weight: bold;
  }
</style>

<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3 py-0">
    <a class="navbar-brand" href="{% url 'main_index' %}">
      <img src="{% static 'logo.svg' %}" alt="Polls" width="150" class="my-1">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-part" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="main-part">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'my_polls_index' %}">My polls</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
      </ul>
      <form method="POST" action="{% url 'search' %}" class="my-2 my-md-0 d-flex align-items-center">
        {% csrf_token %}
        <input name="query" class="form-control" type="text" placeholder="Search">
        <button type="button" id="tooltip" data-toggle="tooltip" data-placement="bottom" title="Use 'author:' to search by author">?</button>
      </form>
    </div>
</nav>

<script>
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>